<div class="busqueda">
 <div class="panel panel-danger text-center">
        <div class="panel-heading">
            <span class="warn">Ingrese un criterio de búsqueda</span>
        </div>
 </div>
</div>
