<div id ="welcome" class="text center">
	<div class = "cabecera" id="home">
          <h1>Welcome to CDPSfy<span class="glyphicon glyphicon-music">				</span></h1>
					<p>In this website you can listen the uplodaded tracks and upload your own tracks.</p>
	</div>
</div>
