body{
	width: 100%;
    height: 100%;
	background-color: #E0FFFF;
}
html{
	width: 100%;
    height: 100%;
	background-color: #E0FFFF;
}
/*Barra de Navegacion*/
.navbar.navbar-fixed-top{
    background-color: #B0C4DE;
    border-bottom: 3px solid #746D6E;
}

.nav.navbar-nav li a{
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    color:#526666;
    letter-spacing: 1px;
}
.nav.navbar-nav li a:hover{
    background-color:#708090;
    text-decoration: none;
    color:#F4F3F3;
}
#cdpsfy{
    font-family: 'Poiret One', bold;
    font-size: 20px;
}

/*Inicio*/
#welcome{
    width: 100%;
    height: 100%;
    padding-top: 15px;
    background-image: url("/images/fondo.jpg");
    background-position: 20% 20%;
}
#home{
   margin-left:120px;
   margin-bottom: 480px;
   margin-top: 60px;
}
.cabecera h1{
    font-family: 'Poiret One', bold;
    font-size: 45px;
}
.cabecera p{
    font-family: 'Poiret One', bold;
    font-size: 23px;
}
/*Upload*/
#subida{
    width: 100%;
    height: 100%;
    background-color: #E0FFFF;
    padding-top:80px;
}
#container{
	margin-left: 190px;
	margin-top: 8%;
}
#formu{
    padding:15px;
    margin-right: 50px;
    font-family:'Raleway', sans-serif;
    font-size: 18px;
    letter-spacing: 1px;
    border:solid 3px;
}
#error{
    display: none;
    margin-top: 30px;
    margin-left: 200px;
    text-align: center;
    font-family:'Raleway', sans-serif;
    font-size: 20px;
    letter-spacing: 1px;
}
.upload {
    margin-right: 15%;
    text-align: left;
    border:solid 3px;
    padding:42px;
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    letter-spacing: 1px;
}
/*My tracks*/
#tracks{
    width: 100%;
    height: 100%;
    background-color: #E0FFFF;
    padding-top:80px;
}
.track {
	width: 250px;
	height: 250px;
	float: left;
	text-align: center;
	margin-left: 100px;
	margin-top: 30px;
	margin-bottom:30px;
}
.track p {
	text-align: center;
	font-family:'Raleway', sans-serif;
    font-size: 20px;
    letter-spacing: 1px;
	margin-top: 10px;
	margin-bottom: 15px;
}

.track img {
	width: 250px;
	height: 250px;
	border: 3px solid #746D6E;
}
#names {
	text-decoration: none;
	color: black;
}
#names:hover{
    background-color:#B0C4DE;
    text-decoration: none;
}
.warn{
    font-family:'Raleway', sans-serif;
    font-size: 30px;
    letter-spacing: 1px;
}
.panel-warning{
	margin-top: 30px;
}
.panel-danger{
	margin-top: 30px;
}
/*Show*/
#show{
    width: 100%;
    height: 100%;
    background-color: #E0FFFF;
    padding-top:80px;
}
.track_playing {
	width: 400px;
	height: 400px;
	float: left;
	text-align: center;
	margin-left: 450px;
}
.track_playing img {
	width: 400px;
	height: 400px;
	margin-bottom: 10px;
	border: 3px solid #746D6E;

}
.track_playing p{
	font-family:'Raleway', sans-serif;
    font-size: 30px;
    letter-spacing: 1px;
	text-align: center;
}
.btn-danger{
	margin-top: 10px;
}
/*Busqueda*/
.busqueda{
    width: 100%;
    height: 100%;
    background-color: #E0FFFF;
    padding-top:80px;
}
