<div class= "container" id="subida">
	<div class="row">
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center">
				    <div class="cabecera">
				      <h1>UPLOAD NEW SONGS</h1>
				    </div>
		</div>
	</div>
  <div class="row" id="container">
		<div class="col-lg-6" id="formu">
			<form action="/tracks" method="post" enctype="multipart/form-data" name="formulario" id="formulario">
				<div class="row">
						<div class="col-md-8">
           			<div class="form-group">
            	  	<label for="image">Upload an image for the track:</label>
            	      <input class="upload_field" type="file" name="image"/>
           			</div>
				 			</div>       
				</div>
				<div class="row">            
         		<div class="col-md-8">
           		<div class="form-group">
             		<label for="track">Upload a new track:</label>
                	<input class="upload_field" type="file" name="track" required/>
           		</div>
         		</div>
				</div>
				<div class="row">
						<div class="col-md-12">
					  	<button class="btn btn-primary btn-lg pull-right" type="submit">Upload</button>
         		</div>
				</div>
			</form>
		</div>
		<div class="col-lg-4">
			<div class="upload">
           	<p>
          	  <strong><u>Supported files:</u><br>
                    <i>Images:</i> <br>
										png, bmp, jpg, jpeg<br>
                    <i>Tracks:</i> <br>
										mp3, ogg, wav</strong><br>
          	</p>
       </div>
		</div>
  </div>
</div>
